#diceContainer {
    border: 1px solid red;
    width: 50%;
    height: 300px;
    margin: auto;
    padding: 10px;
    background-color: whitesmoke;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;

    align-items: center;
    justify-content: center;
}
#diceDiv{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
#rollDiv {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding: 20px;
}
img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
#rollButton {
    width: 100%;
    height: 100%;
    font-size: 18px;
}

#turn {
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-left: 18px;
}






#scoreBoard {
    border: 1px solid red;
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: whitesmoke;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.scoreBoardLeft {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.scoreBoardLeftColumns {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    row-gap: 20px;
}

.scoreBoardRight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.scoreBoardRightColumns {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
}

#rightMostBlock {
    position: relative;
}

#total {
    position: absolute;
    bottom: 0;
}

input {
    height: 20px;
    width: 50%;
}

label {
    padding: 3px 3px;
}